/* Layout */

main article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%; }
    #grid { table-layout: fixed; white-space: nowrap; }
    #grid td { white-space: nowrap; overflow: visible; text-overflow: ellipsis; position: relative; }
    #grid td div.widget { position: absolute; top: 0; left: 0; z-index: 999; }
    #grid td div.widget ul { list-style: none; text-align: right; padding: 0; margin: 0; }
    #grid td div.widget .edit-view>i { float: left; margin-left: 10px; margin-top: 13px; }
    #grid td div.popup { position: absolute; z-index: 999 }
    #grid td div.popup input { width: 200px; margin-left: 1px; }
    #grid td div.widget .widget-resize-handler { width: 3em; height: 3em; bottom: 0px; right: 0px; position: absolute; }
    #sidebar-top, #sidebar-bottom {
        position: absolute;
        display: flex;
        align-items: flex-end;
        text-align: right;
        right: 0;
        width: 80px;
        height: 100%;
    }
    #sidebar-top {
        top: 2px;
        flex-direction: column; }
    #sidebar-bottom {
        bottom: 100px;
        flex-direction: column-reverse; }
    #widget-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center; }
    #widget-bar img { width: 70px; height: 70px; margin: 0 2px; }
    #widget-bar i { width: 70px; height: 60px; margin: 0 2px; padding-top: 10px; }

/* Design */
body {
    color: gray;
    background-color: #000000;
    overflow: hidden; }

    body.edit {
        background-color: #091c2d; }

    article {
        background-color: rgba(0, 0, 0, 1);
        border: 1px solid #000000;
        -moz-osx-font-smoothing: grayscale; }
        body.edit article { background-color: #091c2d; border-color: #394954; }
        #grid td { width: 3em; height: 3em; border: 1px solid #000000; -moz-osx-font-smoothing: grayscale; }
        #grid td div.widget { background-color: transparent; border: 1px solid #000000; }
        body.edit #grid td { border-color: #394954; }
        body.edit #grid td div.widget { background-color: rgba(57, 73, 84, 0.7); border-color: rgba(255, 255, 255, 0.7); }
        #grid td div.widget .widget-resize-handler { cursor: nwse-resize; }
        #grid td div.widget .edit-view {  display: block;  }
        #grid td div.widget .show-view {  display: none;  }
        #grid td div.widget.show .edit-view {  display: none;  }
        #grid td div.widget.show .show-view {  display: block;  }
        #grid td div.html-widget iframe { border: none; overflow: hidden; }
        body.edit #grid td div.html-widget { background: rgba(57, 73, 84, 0.7) url("../images/html.svg") no-repeat; }
        #grid td div.grafana-widget iframe { border: none; }
        body.edit #grid td div.grafana-widget { background: rgba(57, 73, 84, 0.7); }
        #grid td div.popup {
            display: none;
            top: 1em;
            left: 1em;
            background-color: #ffffff;
            padding: 1em;
            transition-duration: 0.3s;
            transition-property: opacity;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px; /* future proofing */
            -khtml-border-radius: 10px; /* for old Konqueror browsers */ }
        #grid td div.edit div.popup {
            display: block !important;
        }
        #grid td div.popup input { border: 1px solid #dddddd; }
    #widget-bar .widget {
        background-color: #091c2d;
        border: 1px solid #394954; }
    #widget-templates { display: none; }

/* Media modes */
@media only screen
  and (orientation: portrait) {
    #grid td:nth-of-type(1n+17) {
        display: none; } }
@media only screen
  and (orientation: landscape) {
    #grid tr:nth-of-type(1n+17) {
        display: none; } }

/* Interaction */

body {
    transition-duration: 0.3s;
    transition-property: background-color; }
main article {
    transition-duration: 0.3s;
    transition-property: transform, background-color; }
main #ok-action-clip {
    position: absolute;
    width: 0;
    height: 0; }
main #ok-action {
    cursor: default;
    -webkit-clip-path: polygon(0px 0px, 0px 90px, 90px 0px);
    clip-path: polygon(0px 0px, 0px 90px, 90px 0px);
    -webkit-clip-path: url("#ok-action-clip-path");
    clip-path: url("#ok-action-clip-path");
    transition-duration: 0.3s;
    transition-property: opacity;
    opacity: 0; }
body.edit #widget-bar {
    z-index: 100000; }

body.edit #ok-action {
    opacity: 1; }

#edit-action, #page-left-action, #page-right-action {
    position: absolute;
    opacity: 0.7;
    z-index: 100000;
    transition-duration: 0.3s;
    transition-property: opacity; }
#page-left-action {
    bottom: 2px;
    left: 0; }
#page-right-action {
    bottom: 2px;
    right: 0; }
#edit-action {
    top: 2px;
    left: 3px; }
body.edit #page-left-action, body.edit #page-right-action {
    opacity: 1; }
body.edit article {
    transform: scale(0.75); }

    article table td.drop-target {
        background-color: white;
    }

    body.edit article #edit-action {
        opacity: 0;
        pointer-events: none; }
        article header h1 {
            font-size: 0.8em;
            font-weight: 500; }
